[Desktop Entry]
Type=Application
Name=Twig
Comment=Lightweight code editor
Exec=twig %F
Icon=io.github.patx.twig
Terminal=false
Categories=Utility;TextEditor;
Keywords=editor;text;code;source;programming;
MimeType=text/plain;text/x-python;text/x-c;text/x-c++;text/x-shellscript;text/html;text/css;application/javascript;
StartupNotify=true
